<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kallithea_Klone.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <Kallithea_Klone.Properties.Settings>
            <setting name="APIKey" serializeAs="String">
                <value>c3c422b842f2f94be0255ff8207e3f9171d8f038</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>http://pgukcsource04.pcms.local</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value>toby.smith@pcmsgroup.com</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>jira4Gamers.</value>
            </setting>
        </Kallithea_Klone.Properties.Settings>
    </userSettings>
</configuration>